
<form action='/' method='get'><button type='submit' class='btn btn-primary'>Home</button></form>

<% if @list %>



<form class="form-group" action="/list/<%=@list.id%>" method="post">
  <label>New Task:</label>
  <input type="text" name="task_description">
  <input type="date" name="date">

  <select name="hour">
    <option default value="">hour</option>
    <% h = 0 %>
       <% while h < 13 %>
          <option value="<%=h%>"><%= h %></option>
          <% h += 1 %>
        <% end %>
  </select>
  <select name="minute">
    <option default value="">minutes</option>
    <% m = 0 %>
      <% while m < 46 %>
          <option value="<%=m%>"><%= m %></option>
          <% m += 15 %>
        <% end %>
  </select>
  <select name="ampm">
    <option default value="">AM/PM</option>
    <option value="AM">AM</option>
    <option value="PM">PM</option>
  </select>


  <button type="submit" class="btn btn-primary">Add</button>
</form>



<h3>Your list:</h3>
<h4><%= @list.name %> : <%= @list.description%></a></h4>
<form action="/list/<%=@list.id%>" method="post" id="complete_form">
  <input name="_method" type="hidden" value="patch" autocomplete="off">
  <table>
    <tr>
      <th>Description</th>
      <th>Date</th>
      <th>Time</th>
      <th style='width:90px'>Complete</th>
    </tr>
  <% @not_done_tasks.reverse_each do |task| %>
    <tr>
      <td><%=task.description%></td>
      <td><%=task.date%></td>
      <td><%=task.time.to_s.gsub(/(2000-01-01)/,'').gsub(/ UTC/,'').gsub(/:0{2}(?!:)/,'').gsub(/ 0{1}/,' ')%></td>
      <td><input type=checkbox name="checkboxes[]" value="<%=task.id%>"></td>
    </tr>
  <%end%>
  </table>
  <button type="submit" class="btn btn-warning">Complete selected tasks</button>

</form>
<form action='/list/<%=@list.id%>' method='post'>
  <input type="hidden" name="_method" value="delete"><button type='submit' class='btn btn-danger'>Delete</button></form>
<% else %>
<p>This list has been deleted</P>
  <%end%>
